

.App-logo {
    height: 150px;
    width: 75px;
    justify-content: center;
  }


.NavbarItems {
  
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgb(0, 0, 0);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }

  .navbar-logo {
    color: rgb(172, 20, 134);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
  }


  .fa-bars {
    color: rgb(172, 20, 134);
  }

  .fa-times {
    color: rgb(172, 20, 134);
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }

  .nav-links {
    color: rgb(172, 20, 134);
    text-decoration: none;
    padding: 0.5rem 1rem;
  }

  .nav-links:hover {
    background-color: rgb(56, 5, 44);
    border-radius: 100px;
    transition: all 0.2s ease-out;
    cursor: pointer;
  }

  .menu-icon {
    display: none;
  }

  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: fixed;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 500px;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .nav-menu.active {
      background:rgb(0, 0, 0);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }

    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }

    .nav-links:hover {
      background-color: rgb(56, 5, 44);
      border-radius: 0;
    }

    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 60%);
    }

    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

    .App-logo {
      display: none;;
    }

  }